 .block {
    border: 1px solid black;
    background-color:whitesmoke;
 }

 .block:hover {
     cursor: pointer;
     background-color: #febfcb;
     animation-duration: 0.5s;
     animation-name: moving;
     transform: translateY(-20px);
 }

 @keyframes moving {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-20px);
    }
  }

 :after {
    font-family:  'Arial', 'sans-serif';
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
 }
